{% extends "layout.html" %}

{% block title %}
    Bar Graph
{% endblock %}

{% block main %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<canvas id="lineChart" width="900" height="400"></canvas>

<script>
    var ctx2 = document.getElementById("lineChart").getContext("2d")
    var lineChart2 = new Chart(ctx2, {
        type: "bar",
        data: {
            labels: {{ for_bar | safe }},
            datasets: [
                {
                    label: "My Rating",
                    data: {{ frequency | safe }},
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 99, 132)'
                    ],
                    borderWidth: 1
                }
            ]
        },
        options: {
            responsive: true,
            scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
            }
    });
</script>


{% endblock %}
